[submodule "RealitiesAnimation"]
	path = RealitiesAnimation
	url = https://github.com/AngryLizard/RealitiesAnimation
[submodule "RealitiesRendering"]
	path = RealitiesRendering
	url = https://github.com/AngryLizard/RealitiesRendering
[submodule "RealitiesProcedural"]
	path = RealitiesProcedural
	url = https://github.com/AngryLizard/RealitiesProcedural
