[submodule "RealitiesAnimation"]
	path = RealitiesAnimation
	url = git@github.com:AngryLizard/RealitiesAnimation.git
[submodule "RealitiesRendering"]
	path = RealitiesRendering
	url = git@github.com:AngryLizard/RealitiesRendering.git
[submodule "RealitiesProcedural"]
	path = RealitiesProcedural
	url = git@github.com:AngryLizard/RealitiesProcedural.git
